// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.deleteicon{
	height: 20px;
	display: inline-block;
	padding: 0px;
}

.addAuthorForm input[type="text"] {
	width: 70px;
}

.libraryUsers{
	max-height: 80px;
	overflow-y: auto;
}

.noDisplay{
	display: none;
}

.libraryfilter{
	font-size: 15px;
	vertical-align: top;
	line-height: 20px;
}

.indexCreateForm div{
	vertical-align: top;
}

.indexCreateForm input[type="submit"] {
	margin-top: 23px;
}
.indexCreateFormSpecial input[type="submit"] {
	margin-top: 0px !important;
}

.forumele{
	width: 300px;
	vertical-align: top;
}

.adminLink{
	width: 220px; 
	margin: 5px;
	font-size: 25px;
	text-align: center;
}
.adminLinkContainer{
	width: 930px;
	margin-left: auto;
	margin-right: auto;
}